        //- must be two tabs!

        section.cart-a
            .wrap
                .container-fluid
                    h2.cart-a__heading Cart

                    .cart-a__empty(
                        class='hide'
                    ) Your cart is empty

                    .cart-a__container(
                        class='clearfix'
                    )

                            .cart-a__cart(
                                class='col-md-9 clear-left-padding'
                            )

                                table.cart-a__table(
                                    class='table table-hover td-vertical'
                                )
                                    thead
                                        tr
                                            th &nbsp;
                                            th Photo
                                            th Title
                                            th Price
                                            th &nbsp;
                                            th Quantity
                                            th Sum

                                    tbody
                                    - for (var i_cart_li = 0; i_cart_li < products.length; i_cart_li++)
                                        tr.cart-a__item(
                                            data-product-id='#{ products[i_cart_li].id }'
                                        )

                                            td.cart-a__cell.cart-a__cell--remove
                                                .cart-a__item-remove

                                            td.cart-a__cell.cart-a__cell--image
                                                .cart-a__item-image-wrap
                                                    img.cart-a__item-image(
                                                        src='#{ products[i_cart_li].photos[0] }'
                                                    )

                                            td.cart-a__cell.cart-a__cell--title
                                                .cart-a__item-title=products[i_cart_li].title

                                            td.cart-a__cell.cart-a__cell--price
                                                .cart-a__item-price=products[i_cart_li].price

                                            td.cart-a__cell.cart-a__cell--x
                                                .cart-a__item-x X

                                            td.cart-a__cell.cart-a__cell--input
                                                .cart-a__item-input-wrap
                                                    input.cart-a__item-input(
                                                        class='form-control bfh-number'
                                                        type='number'
                                                        value="#{ i_cart_li + 1 }",
                                                        min='0'
                                                    )

                                            td.cart-a__cell.cart-a__cell--sum
                                                .cart-a__item-sum
                                                    span.cart-a__item-sum-currency $
                                                    span.cart-a__item-sum-amount=(i_cart_li + 1) * products[i_cart_li].price

                                    tfoot
                                        tr
                                            td.cart-a__cell.cart-a__cell--subtotal-text(
                                                class='text-right'
                                                colspan='6'
                                            ) Subotal:

                                            td.cart-a__cell.cart-a__cell--subtotal
                                                .cart-a__item-subtotal
                                                    span.cart-a__item-subtotal-currency $
                                                    span.cart-a__item-subtotal-amout 6500.99




                            .cart-summary(
                                class='col-md-3'
                            )
                                .cart-summary__container
                                    table.cart-summary__table(
                                        class='table'
                                    )

                                        thead.cart-summary__head
                                            tr.cart-summary__row-head
                                                th.cart-summary__cell.cart-summary__cell--head(
                                                    colspan='2'
                                                ) Summary

                                        tbody.cart-summary__body
                                            tr.cart-summary__row
                                                td.cart-summary__cell.cart-summary__title Subtotal:
                                                td.cart-summary__cell.cart-summary__sum
                                                    span.cart-summary__subtotal-currency $
                                                    span.cart-summary__submotal-amount 15

                                            tr.cart-summary__row
                                                td.cart-summary__cell.cart-summary__title Shipping cost:
                                                td.cart-summary__cell.cart-summary__sum
                                                    span.cart-summary__shipping-currency $
                                                    span.cart-summary__shipping-amount 15

                                        tfoot.cart-summary__foot
                                            tr.cart-summary__row-foot
                                                td.cart-summary__cell.cart-summary__cell--foot.cart-summary__title Total:
                                                td.cart-summary__cell.cart-summary__cell--foot.cart-summary__sum
                                                    span.cart-summary__total-currency $
                                                    span.cart-summary__total-amount 15

                                    .cart-summary__controls
                                        button.cart-summary__submit(
                                            class='btn btn-swingaway-ii'
                                        ) Go to checkout






