        //- two tabs needed!

        section.order-review
            .wrap
                .container-fluid
                    .order-review__container(
                        class='clearfix'
                    )
                        h2.order-review__heading Cart 3. Order review

                        .order-review__content(
                            class='alert alert-info'
                        )
                            p Please, make sure, that all your personal info is correct and you want to buy all products, that are currenty in the cart in corresponding amount. Press the button below, if everything is correct.



                        .order-review-prods(
                            class='col-md-8'
                        )
                            - for (var i_rev = 0; i_rev < products.length; i_rev++)
                                .order-review-prod
                                    .order-review-prod__container
                                        .order-review-prod__no=(i_rev +1) + '.'
                                        .order-review-prod__image-wrap
                                            img.order-review-prod__image(
                                                src=products[i_rev].photos[0]
                                            )
                                        .order-review-prod__title=products[i_rev].title
                                        .order-review-prod__price
                                            span.order-review-prod__price-currency=currencySymbol
                                            span.order-review-prod__price-amount=products[i_rev].price
                                        .order-review-prod__quantity 5
                                        .order-review-prod__sum
                                            span.order-review-prod__sum-currency=currencySymbol
                                            span.order-review-prod__sum-amount=products[i_rev].price


                        .order-review-profile(
                            class='col-md-4 col-sm-6'
                        )
                            .order-review-profile__container
                                .order-review-profile__group
                                    .order-review-profile__label First name:
                                    .order-review-profile__data John

                                .order-review-profile__group
                                    .order-review-profile__label Last name:
                                    .order-review-profile__data Doe

                                .order-review-profile__group
                                    .order-review-profile__label Company:
                                    .order-review-profile__data someCompany

                                .order-review-profile__group
                                    .order-review-profile__label City:
                                    .order-review-profile__data New York

                                .order-review-profile__group
                                    .order-review-profile__label State:
                                    .order-review-profile__data Cansas

                                .order-review-profile__group
                                    .order-review-profile__label Phone number:
                                    .order-review-profile__data 555-5555-555

                                .order-review-profile__group
                                    .order-review-profile__label Address:
                                    .order-review-profile__data Elm street, 1

                                .order-review-profile__group
                                    .order-review-profile__label Country:
                                    .order-review-profile__data America

                                .order-review-profile__group
                                    .order-review-profile__label Email:
                                    .order-review-profile__data example@domain.com


                        .order-review-totals(
                            class='col-md-4 col-sm-6'
                        )
                            .order-review-totals__container
                                .order-review-totals__group
                                    .order-review-totals__label Subtotal
                                    .order-review-totals__sum
                                        span.order-review-totals__sum-currency=currencySymbol
                                        span.order-review-totals__sum-amount 9000

                                .order-review-totals__group
                                    .order-review-totals__label Delivery
                                    .order-review-totals__sum
                                        span.order-review-totals__sum-currency=currencySymbol
                                        span.order-review-totals__sum-amount 500

                                .order-review-totals__group
                                    .order-review-totals__label Total
                                    .order-review-totals__sum
                                        span.order-review-totals__sum-currency=currencySymbol
                                        span.order-review-totals__sum-amount 9500


                        .order-review-controls(
                            class='col-md-12 col-sm-12'
                        )
                            .order-review-controls__container
                                a.order-review-controls__return(
                                    class='explicit-link',
                                    href='#',
                                    onclick='history.back()'
                                ) &#8617; Go back to billing information

                                button.order-review-controls__submit(
                                    class='btn btn-swingaway pull-right'
                                    type='submit'
                                ) Evetything is correct, proceed






