        //- two tabs needed!

        - var activeOffcanvasMenuItem = -3, activeHeadMenuItem = -4;

        .offcanvas(
            class="navmenu navmenu-default navmenu-fixed-left"
        )
            .offcanvas-logo
                .offcanvas-logo__container
                    .offcanvas-logo__heading Swingaway

            .offcanvas-search
                .offcanvas-search__container
                    form(
                        name='form-search',
                        method='post',
                        action='/'
                    )
                        input.offcanvas-search__input(
                            type='text',
                            placeholder='search query',
                            name='input-search',
                            required
                        )
                        .offcanvas-search__submit(
                            class='glyphicon glyphicon-search'
                        )

            .offcanvas-menu
                 ul.offcanvas-menu__list
                    - for (key in mainMenu)
                        - activeOffcanvasMenuItem++
                            li.offcanvas-menu__item.offcanvas-menu__item--has-sublist.offcanvas-menu__item--opened(
                                class=(activeOffcanvasMenuItem == 0) ? 'offcanvas-menu__item--active' : ''
                            )
                                a.offcanvas-menu__link(
                                )=key
                                - if (typeof mainMenu[key] === 'object')
                                    ul.offcanvas-submenu
                                        - for (subKey in mainMenu[key])
                                            li.offcanvas-submenu__item
                                                a.offcanvas-submenu__link(
                                                    href=(typeof mainMenu[key][subKey] === 'object') ? '#' : mainMenu[key][subKey]
                                                )=subKey

            .offcanvas-auth-choice
                ul.offcanvas-auth-choice__list
                    li.offcanvas-auth-choice__item
                        a.offcanvas-auth-choice__link Login
                    li.offcanvas-auth-choice__item
                        a.offcanvas-auth-choice__link Register


        include ../production/jade/incl/modals.jade

        header.header(
            class='navbar navbar-default'
        )
            .wrap()

                .container-fluid
                    span(
                        class="navbar-toggle pull-left glyphicon glyphicon-menu-hamburger"
                        data-toggle="offcanvas",
                        data-target=".offcanvas",
                        data-canvas="body"
                    )

                    .logo
                        .logo__container
                            img.logo__image(
                                src='http://placehold.it/200x50?text=Logo'
                            )

                    .shop-components(
                        class='pull-right'
                    )
                        .auth-choice()
                            .auth-choice__container
                                ul.auth-choice__list()
                                    li.auth-choice__item()
                                        a.auth-choise__link(
                                            data-toggle='modal',
                                            data-target='#auth-modal'
                                        ) My account

                        .search()
                            .search__container(
                                class='clearfix'
                            )
                                form(
                                    name='form-search',
                                    method='post',
                                    action='/'
                                )
                                    input.search__input(
                                        class='form-control',
                                        type='text',
                                        placeholder='search query',
                                        name='input-search',
                                        required
                                    )
                                    .search__submit()
                                        .search__submit-icon(
                                            class='glyphicon glyphicon-search'
                                        )

                        .services()
                            .services__container
                                a.services__compare(
                                    href=rootPath + 'compare.html'
                                )
                                    .services__counter() 53

                                a.services__wishlist(
                                    href=rootPath + 'wishlist.html'
                                )
                                    .services__counter() 55

                                a.services__cart(
                                    href=rootPath + 'cart-a.html'
                                )
                                    .services__counter() 57

                .container-fluid()

                    nav.main-menu()
                        ul.main-menu__list()
                            - for (key in mainMenu) {
                            - activeHeadMenuItem++;
                            li.main-menu__item(
                                class=(activeHeadMenuItem == 0) ? 'main-menu__active' : key
                            )
                                a.main-menu__link(
                                    href=(typeof mainMenu[key] === 'object') ? '#' : rootPath + mainMenu[key]
                                )=key
                                - if (typeof mainMenu[key] === 'object'){
                                    ul.main-menu__sublist
                                        - for (subKey in mainMenu[key]) {
                                        li.main-menu__subitem()
                                            a.main-menu__sublink(
                                                href=(typeof mainMenu[key][subKey] === 'object') ? '#' : rootPath + mainMenu[key][subKey]
                                            )=subKey
                                        -}
                                    -}
                                -}
