        //- two tabs needed!

        section.warranty
            .wrap
                .container-fluid
                    .warranty__container
                        h2.warranty__heading Warranty registration

                        .warranty__content(
                            class='swingaway-content-markup'
                        )
                            p All customers must register their warranty within 1 week of purchase. Please be prepared to produce a copy of the Original Sales Receipt which clearly shows the Date of Purchase.
                            p All SwingAway Hitting Systems - Are covered with a special 90 Day Limited Warranty, which covers all defects in material and workmanship for the Original Owner Only. This Warranty covers the steel tubing and components but does not cover cords, bungee and balls. The warranty does not cover institutional, commercial use or the misuse by Any consumer. ALL SwingAway OWNERS MUST BE REGISTERED to be covered by the warranty. Please register the product below. PLEASE NOTE ALL INFORMATION MUST BE SUPPLIED TO COMPLETE THE REGISTRATION PROCESS.

                        .warranty__form-wrap(
                            class='clearfix'
                        )

                            form(
                                name='form-warranty-registration',
                                method='post',
                                action='/'
                            )

                                .personal-info(
                                    class=''
                                )
                                    .personal-info__container
                                            h3.personal-info__heading Personal informaion

                                            .personal-info__item(
                                                class='form-group'
                                            )
                                                label.personal-info__label(
                                                    for='input-warranty-name'
                                                ) Your name:
                                                input.personal-info__input(
                                                    class='form-control',
                                                    id='input-warranty-name',
                                                    name='input-warranty-name',
                                                    type='text',
                                                    placeholder='John Doe'
                                                )
                                                .personal-info__error(
                                                    class='hide'
                                                )
                                                    | Please, enter your name

                                            .personal-info__item(
                                                class='form-group'
                                            )
                                                label.personal-info__label(
                                                    for='input-warranty-address'
                                                ) Address:
                                                input.personal-info__input(
                                                    class='form-control',
                                                    id='input-warranty-address',
                                                    name='input-warranty-address',
                                                    type='text',
                                                    placeholder='Elm street, 1'
                                                )
                                                .personal-info__error(
                                                    class='hide'
                                                )
                                                    | Please, enter your address

                                            .personal-info__item(
                                                class='form-group'
                                            )
                                                label.personal-info__label(
                                                    for='input-warranty-city'
                                                ) City:
                                                input.personal-info__input(
                                                    class='form-control',
                                                    id='input-warranty-city',
                                                    name='input-warranty-city',
                                                    type='text',
                                                    placeholder='New York'
                                                )
                                                .personal-info__error(
                                                    class='hide'
                                                )
                                                    | Please, enter your city name

                                            .personal-info__item(
                                                class='form-group'
                                            )
                                                label.personal-info__label(
                                                    for='input-warranty-state'
                                                ) State:
                                                input.personal-info__input(
                                                    class='form-control',
                                                    id='input-warranty-state',
                                                    name='input-warranty-state',
                                                    type='text',
                                                    placeholder='State'
                                                )
                                                .personal-info__error(
                                                    class='hide'
                                                )
                                                    | Please, enter your state


                                            .personal-info__item(
                                                class='form-group'
                                            )
                                                label.personal-info__label(
                                                    for='input-warranty-zip'
                                                ) Zip-code:
                                                input.personal-info__input(
                                                    class='form-control',
                                                    id='input-warranty-zip',
                                                    name='input-warranty-zip',
                                                    type='text',
                                                    placeholder='zip code'
                                                )
                                                .personal-info__error(
                                                    class='hide'
                                                )
                                                    | Please, provide valid zip-code

                                            .personal-info__item(
                                                class='form-group clearfix'
                                            )
                                                label.personal-info__label(
                                                    for='input-warranty-country'
                                                ) Country
                                                select.personal-info__select(
                                                    class='form-control',
                                                    id='input-warranty-country',
                                                    name='input-warranty-country'
                                                )
                                                    option(
                                                        value='america'
                                                    ) America
                                                    option(
                                                        value='canada'
                                                    ) Canada

                                                .personal-info__error(
                                                    class='hide'
                                                )
                                                    | Please, select your country


                                            .personal-info__item(
                                                class='form-group'
                                            )
                                                label.personal-info__label(
                                                    for='input-warranty-phone'
                                                ) Phone:
                                                input.personal-info__input(
                                                    class='form-control',
                                                    id='input-warranty-phone',
                                                    name='input-warranty-phone',
                                                    type='text',
                                                    placeholder='555-5555-555'
                                                )
                                                .personal-info__error(
                                                    class='hide'
                                                )
                                                    | Please, provide valid phone number

                                            .personal-info__item(
                                                class='form-group'
                                            )
                                                label.personal-info__label(
                                                    for='input-warranty-email'
                                                ) Email:
                                                input.personal-info__input(
                                                    class='form-control',
                                                    id='input-warranty-email',
                                                    name='input-warranty-email',
                                                    type='email',
                                                    placeholder='example@domain.com'
                                                )
                                                .personal-info__error(
                                                    class='hide'
                                                )
                                                    | Please, provide valid email address

                                .purchase-details(
                                    class=''
                                )
                                    .purchase-details__container
                                        h3.purchase-details__heading Purchase details

                                        .purchase-details__item(
                                            class='form-group'
                                        )
                                            label.purchase-details__label(
                                                for='input-warranty-date'
                                            ) Date of purchase:
                                            input.purchase-details__input(
                                                class='form-control',
                                                id='input-warranty-date',
                                                name='input-warranty-date',
                                                type='text',
                                                placeholder='4/22/2016'
                                            )
                                            .purchase-details__error(
                                                class='hide'
                                            )
                                                | Please, select date of purchase

                                        .purchase-details__item(
                                            class='form-group'
                                        )
                                            label.purchase-details__label(
                                                for='input-warranty-dealer'
                                            ) Retail dealer:
                                            input.purchase-details__input(
                                                class='form-control',
                                                id='input-warranty-dealer',
                                                name='input-warranty-dealer',
                                                type='text',
                                                placeholder='Retail dealer'
                                            )
                                            .purchase-details__error(
                                                class='hide'
                                            )
                                                | Please, tell us what is your retails dealer

                                        .purchase-details__item(
                                            class='form-group'
                                        )
                                            label.purchase-details__label(
                                                for='input-warranty-model'
                                            ) Swingaway model:
                                            input.purchase-details__input(
                                                class='form-control',
                                                id='input-warranty-model',
                                                name='input-warranty-model',
                                                type='text',
                                                placeholder='Product model'
                                            )
                                            .purchase-details__error(
                                                class='hide'
                                            )
                                                | Please, type in your product model


                                        .purchase-details__item(
                                            class='form-group'
                                        )
                                            label.purchase-details__label(
                                                for='input-warranty-comment'
                                            ) Comments and warranty:
                                            textarea.purchase-details__textarea(
                                                class='form-control',
                                                id='input-warranty-comment',
                                                name='input-warranty-comment'
                                                placeholder='Comment text'
                                            )
                                            .purchase-details__error(
                                                class='hide'
                                            )
                                                | Please, add some comments


                            .warranty__form-error(
                                class='hide clear'
                            )
                                | You have to fill in all fields correctly to complete you warranty registration

                            .warranty__controls(
                                class=' text-right'
                            )
                                button(
                                    class='btn btn-swingaway'
                                    type='submit'
                                ) Complete registration

                        .warranty__content(
                            class='swingaway-content-markup clear-paddings'
                        )
                            p All customers must register their warranty within 1 week of purchase. Please be prepared to produce a copy of the Original Sales Receipt which clearly shows the Date of Purchase.
                            p All SwingAway Hitting Systems - Are covered with a special 90 Day Limited Warranty, which covers all defects in material and workmanship for the Original Owner Only. This Warranty covers the steel tubing and components but does not cover cords, bungee and balls. The warranty does not cover institutional, commercial use or the misuse by Any consumer. ALL SwingAway OWNERS MUST BE REGISTERED to be covered by the warranty. Please register the product below. PLEASE NOTE ALL INFORMATION MUST BE SUPPLIED TO COMPLETE THE REGISTRATION PROCESS.
