        //- two tabs needed!

        section.wishlist
            .wrap
                .container-fluid()
                    h2.wishlist__heading Wishlist

                    .wishlist__empty(
                        class='alert alert-warning fade in hide'
                    ) You haven't added anything into your wishlist

                    .wishlist__container
                        - for (var i_wl = 0; i_wl < products.length; i_wl++)
                            .wishlist-item(
                                data-product-id=products[i_wl].id
                            )
                                .wishlist-item__container

                                    .wishlist-item__remove
                                        .wishlist-item__remove-icon.swing-remove-icon

                                    .wishlist-item__image-wrap
                                        img.wishlist-item__image(
                                            src='#{ products[i_wl].photos[0] }'
                                        )

                                    a.wishlist-item__title(
                                        href='/product.html'
                                    )=products[i_wl].title

                                    .wishlist-item__price
                                        span.wishlist-item__price-currency=currencySymbol
                                        span.wishlist-item__price-amout=products[i_wl].price

                                    .wishlist-item__controls
                                        button.wishlist-item__butt(
                                            class='butt-add-to-cart btn btn-default'
                                        ) Add to cart
                                        button.wishlist-item__butt(
                                            class='butt-add-to-compare btn btn-default'
                                        ) Add to compare
