//- element: stars
- var reds = 3


.stars
    .stars__container(
        class='children-inline'
    )
        input.stars__starred(
            name='starred',
            type='hidden',
            value=reds
        )
        - for (var i = 0; i < 5; i++)
            .stars__star(
                class="#{ reds > i ? 'stars__star--red' : '' } "
            )