// inc: modals

.auth-modal(
    id='auth-modal',
    role='dialog',
    class='modal fade'
)
    .auth-modal__container(
        class='modal-dialog'
    )
        .auth-modal__inner(
            class='modal-content'
        )
            .auth-modal__head(
                class='modal-header'
            )
                button.auth-modal__close(
                    class='close',
                    type='button',
                    data-dismiss='modal'
                ) &times;
                h4.auth-modal__heading(
                    class='modal-title'
                ) Authentification

            .auth-modal__body
                ul.auth-modal__nav-tabs(
                    class='nav nav-tabs'
                )
                    li.auth-modal__nav-tab(
                        class='active'
                    )
                        a.auth-modal__nav-link(
                            data-toggle='tab',
                            href='#tab-auth-login'
                        ) Login

                    li.auth-modal__nav-tab
                        a.auth-modal__nav-link(
                            data-toggle='tab',
                            href='#tab-auth-register'
                        ) Register

                .auth-modal__inner(
                    class='tab-content'
                )
                    .auth-modal__content-auth(
                        id='tab-auth-login',
                        class='tab-pane active'
                    )
                        .auth-modal__content(
                            class='swingaway-content-markup'
                        )
                            h4 For returning customers
                            p If you've purchased from us before, please login with your email address and password.

                        form.auth-modal__form(
                            name='form-auth-login'
                        )
                            .auth-modal__form-group(
                                class='form-group'
                            )
                                label.auth-modal__form-label(
                                    for='auth-login-email'
                                ) Email address

                                input.auth-modal__form-input(
                                    class='form-control',
                                    id='auth-login-email',
                                    type='email',
                                    placeholder='Email'
                                )
                                .auth-modal__form-error(
                                    class='hide'
                                )

                            .auth-modal__form-group(
                                class='form-group'
                            )
                                label.auth-modal__form-label(
                                    for='auth-login-password'
                                ) Password

                                input.auth-modal__form-input(
                                    class='form-control',
                                    id='auth-login-password',
                                    type='password',
                                    placeholder='Password'
                                )
                                .auth-modal__form-error(
                                    class='hide'
                                )

                            .auth-modal__controls
                                button.auth-modal__submit(
                                    type='submit',
                                    class='btn btn-swingaway'
                                ) Login


                    .auth-modal__content-auth(
                        id='tab-auth-register',
                        class='tab-pane'
                    )
                        .auth-modal__content(
                            class='swingaway-content-markup'
                        )
                            h4 New customers
                            p If you've a new customer ...

                        form.auth-modal__form(
                            name='form-auth-register'
                        )
                            .auth-modal__form-group(
                                class='form-group'
                            )
                                label.auth-modal__form-label(
                                    for='auth-register-email'
                                ) Email address

                                input.auth-modal__form-input(
                                    class='form-control',
                                    id='auth-register-email',
                                    type='email',
                                    placeholder='Email'
                                )
                                .auth-modal__form-error(
                                    class='hide'
                                )

                            .auth-modal__form-group(
                                class='form-group'
                            )
                                label.auth-modal__form-label(
                                    for='auth-register-password'
                                ) Password

                                input.auth-modal__form-input(
                                    class='form-control',
                                    id='auth-register-password',
                                    type='password',
                                    placeholder='Password'
                                )
                                .auth-modal__form-error(
                                    class='hide'
                                )

                            .auth-modal__form-group(
                                class='form-group'
                            )
                                label.auth-modal__form-label(
                                    for='auth-register-password-confirm'
                                ) Password confirm

                                input.auth-modal__form-input(
                                    class='form-control',
                                    id='auth-register-password-confirm',
                                    type='password',
                                    placeholder='Re-type password'
                                )
                                .auth-modal__form-error(
                                    class='hide'
                                )

                            .auth-modal__controls
                                button.auth-modal__submit(
                                    type='submit',
                                    class='btn btn-swingaway'
                                ) Register


.reusable-modal(
    id='reusable-modal',
    role='dialog',
    class='modal fade'
)
    .alert-modal__container(
        class='modal-dialog'
    )
        .alert-modal__inner(
            class='modal-content'
        )
            .alert-modal__head(
                class='modal-header'
            )
                button.alert-modal__close(
                    class='close',
                    type='button',
                    data-dismiss='modal'
                ) &times;
                h4(
                    class='modal-title'
                ) Notice

            .alert-modal__body
                p.alert-modal__message

            .alert-modal__foot(
                class='modal-footer'
            )
                a.alert-modal__choice-a(
                    class='btn'
                ) choice-a

                a.alert-modal__choice-b(
                    class='btn btn-success'
                ) choice-b



.review-modal(
    id='review-modal',
    role='dialog',
    class='modal fade'
)
    .review-modal__container(
        class='modal-dialog'
    )
        .review-modal__inner(
            class='modal-content'
        )
            form(
                action='#',
                method='post'
            )
                .review-modal__head(
                    class='modal-header'
                )
                    button.review-modal__close(
                        class='close',
                        type='button',
                        data-dismiss='modal'
                    ) &times;
                    h4(
                        class='modal-title'
                    ) Write a review

                .review-modal__body

                    .review-modal__inputs
                        input.review-modal__input(
                            class='form-control',
                            placeholder='Your name'
                        )
                        input.review-modal__input(
                            class='form-control',
                            placeholder='Your email'
                        )

                    .review-modal__message-wrap
                        textarea.review-modal__message(
                            class='form-control',
                            placeholder='Your review text here..'
                        )

                    .review-modal__opts
                        .review-modal__opt
                            input.review-modal__opt-input(
                                id='review-opt-positive'
                                name='review-opt',
                                type='radio'
                                value='positive'
                            )
                            label.review-modal__opt-label(
                                for='review-opt-positive'
                            )
                                | Yes, I recommend this product

                        .review-modal__opt
                            input.review-modal__opt-input(
                                id='review-opt-negative'
                                name='review-opt',
                                type='radio'
                                value='negative'
                            )
                            label.review-modal__opt-label(
                                for='review-opt-negative'
                            )
                                | No, I do not recommend this product

                    .review-modal__stars.choose-from-stars
                        include ./element.stars.jade

                .review-modal__foot(
                    class='modal-footer'
                )
                    button.review-modal__submit(
                        class='btn btn-default'
                    ) Submit



.edit-review-modal(
    id='edit-review-modal',
    role='dialog',
    class='modal fade'
)
    .edit-review-modal__container(
        class='modal-dialog'
    )
        .edit-review-modal__inner(
            class='modal-content'
        )
            form.edit-review-modal__form(
                action='#',
                method='post'
                name='form-edit-review'
            )
                .edit-review-modal__head(
                    class='modal-header'
                )
                    button.edit-review-modal__close(
                        class='close',
                        type='button',
                        data-dismiss='modal'
                    ) &times;
                    h4(
                        class='modal-title'
                    ) Edit review

                .edit-review-modal__body

                    .edit-review-modal__message-wrap
                        textarea.edit-review-modal__message(
                            class='form-control',
                            placeholder='Your review text here..'
                            name='edit-review-text'
                        )

                    .edit-review-modal__opts
                        .edit-review-modal__opt
                            input.edit-review-modal__opt-input(
                                id='edit-review-opt-positive'
                                name='edit-review-opt',
                                type='radio'
                                value='positive'
                            )
                            label.edit-review-modal__opt-label(
                                for='edit-review-opt-positive'
                            )=plh.doRec

                        .edit-review-modal__opt
                            input.edit-review-modal__opt-input(
                                id='edit-review-opt-negative'
                                name='edit-review-opt',
                                type='radio'
                                value='negative',

                            )
                            label.edit-review-modal__opt-label(
                                for='edit-review-opt-negative'
                            )=plh.dontRec

                    .edit-review-modal__stars.choose-from-stars
                        include ./element.stars.jade

                .edit-review-modal__foot(
                    class='modal-footer'
                )
                    input(
                        name='edit-review-id',
                        type='hidden',
                        value=''
                    )

                    button.edit-review-modal__butt(
                        class='btn btn-swingaway',
                        type='submit'
                    ) Save changes

                    a.edit-review-modal__butt(
                        class='btn btn-default',
                        data-dismiss='modal'
                    ) Cancel




.cancel-order-modal(
    id='cancel-order-modal',
    role='dialog',
    class='modal fade'
)
    .cancel-order-modal__container(
        class='modal-dialog'
    )
        .cancel-order-modal__inner(
            class='modal-content'
        )
            .cancel-order-modal__head(
                class='modal-header'
            )
                button.cancel-order-modal__close(
                    class='close',
                    type='button',
                    data-dismiss='modal'
                ) &times;
                h4(
                    class='modal-title'
                ) Cancel order

            .cancel-order-modal__body
                p.cancel-order-modal__message
                | Are you sure want to delete this order?

            .cancel-order-modal__foot(
                class='modal-footer'
            )
                a.cancel-order-modal__choice-a(
                    class='btn btn-danger'
                ) Delete order

                a.cancel-order-modal__choice-b(
                    class='btn btn-default',
                    data-dismiss='modal'
                ) Cancel



.delete-review-modal(
    id='delete-review-modal',
    role='dialog',
    class='modal fade'
)
    .delete-review-modal__container(
        class='modal-dialog'
    )
        .delete-review-modal__inner(
            class='modal-content'
        )
            form.delete-review-modal__form(
                method='post',
                action='#',
                name='form-delete-review'
            )
                .delete-review-modal__head(
                    class='modal-header'
                )
                    button.delete-review-modal__close(
                        class='close',
                        type='button',
                        data-dismiss='modal'
                    ) &times;
                    h4.delete-review-modal__heading(
                        class='modal-title'
                    ) Delete review

                .delete-review-modal__body
                    p.delete-review-modal__message
                    | Are you sure want to delete this review?

                .delete-review-modal__foot(
                 class='modal-footer'
                )
                    input(
                        name='delete-review-id',
                        type='hidden'
                    )

                    a.delete-review-modal__choice-a(
                        class='btn btn-danger',
                        type='submit'
                    ) Delete review

                    a.delete-review-modal__choice-b(
                        class='btn btn-default',
                        data-dismiss='modal'
                    ) Cancel