//- inc: my-reviews


.my-reviews
    .my-reviews__container

        .my-reviews__empty(
            class='alert alert-warning'
        ) You haven't leave a product review yet.

        .my-reviews__content(
            class='swingaway-content-markup'
        )
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

        .my-reviews__list-wrap

            - for (var i_rev = 0; i_rev < reviews.length; i_rev++)

                .my-review(
                    data-review-id=reviews[i_rev].id
                )
                    .my-review__container
                        .my-review__product-url-wrap
                            span.my-review__product-pre
                            a.my-review__product-url(
                                target='_blank',
                                href='product.html'
                            )=reviews[i_rev].productTitle

                        blockquote.my-review__text=reviews[i_rev].text

                        .my-review__recommend
                            span.my-review__recommend-pre Conclusion:
                            span.my-review__recommned-text(
                            )=reviews[i_rev].recommend ? plh.doRec : plh.dontRec

                        .my-review__datetime 5 jul, 2016

                        .my-review__rated
                            include ./element.stars.jade

                        .my-review__actions
                            button.my-review__butt(
                                class='btn btn-default butt-edit-review'
                            ) Edit review
                            button.my-review__butt(
                                class='btn btn-default butt-delete-review'
                            ) Delete


