section.about-us
    .wrap
        .container-fluid
            .about-us__container
                h2.about-us__heading About us
                .about-us__content(
                    class='swingaway-content-markup'
                )
                    h4 SwingAway Sports Products Mission Statement
                    p SwingAway is committed to continue to make the very best Baseball/Softball Hitting Systems and Hitting Accessories in the entire market.  We remain proud that we make the only Hitting machine on this planet that actually makes our customers better hitters, thus better ball players. Just ask any of our Major League Customers. Guaranteed

                    p To our SwingAway Customers,

                    p When the SwingAway was introduced to Professional Baseball in 1996, there was a tremendous BUZZZ around the League.  This machine was perfected with the guidance of Lou Piniella, Lee Elia and Jay Buhner all with the Seattle Mariners, as the Head Coach, the Head Hitting Coach and as an All Star Player respectively.

                    p Today, more Pro Players use the SwingAway than ever before.  It is the Only established, recognized and accepted hitting training machine in the MLB.  Today's players grew up training on the SwingAway.  Many of todays professional players started training on the SwingAway in High School, College, the Minor Leagues and finally in to the Big Leagues.  Pro Players now just expect a SwingAway to be available for them to train and practice with at every stadium.

                    p We receive numerous calls each month from former MLB Players; Many of them are Legends of the Game. However the most surprising is the calls former MLB Pitchers who want to purchase a SwingAway System for their children. This re- enforces the fact that our SwingAway really works to make players of all ages better hitters thus better baseball and softball players. We as a company are extremely proud to continue to be successful in doing something Real Good for the Game of Baseball.

                    p John J Flading
                    p President and CEO
                    p SwingAway Sports Products

                    h3 Swingaway Team

                    .about-person
                        .about-person__container
                            .about-person__name Fredi Gonzalez
                            .about-person__photo-wrap
                                img.about-person__photo(
                                    src='distribution/img/portraits/portrait-1.jpg'
                                )
                            .about-person__history
                                | Fredi is the Manager of the National League Florida Marlins. From 2003 to 2007, he was third base coach for the Atlanta Braves.Gonzalez was signed by the New York Yankees after being their 16th selection in the 1982 amateur draft. He spent six years as a catcher in the Yankees system. Fredi is very familiar with the SwingAway, with the Braves, Marlins and has seen them in every major league park. Fredi's son Alex plays for the Nationally ranked East Cobb Astros and works out on a SwingAway at home and at the East Cobb Baseball Complex.


                    .about-person
                        .about-person__container
                            .about-person__name Denny Walling
                            .about-person__photo-wrap
                                img.about-person__photo(
                                    src='distribution/img/portraits/portrait-2.jpg'
                                )
                            .about-person__history
                                | Denny enjoyed an 18-year career playing in the Major League.  Denny broke into the Majors in 1975 with the Oakland A's. He played for the Astros from 1976-1988, the Cardinals from 1988 -1990, the Texas Rangers in 1991 and finished his playing career with the Astros in 1992. Denny is now recognized as a prolific Hitting Coach with the Oakland A's, New York Mets and today he is the Head Roving Hitting Instructor for the Baltimore Orioles.  Denny first became familiar with the SwingAway when he was coaching with the A's. Denny believes that the SwingAway is the very best hitting machine every created.  He also believes that this piece of machinery belongs in Cooperstown at the Baseball Hall of Fame.


                    .about-person
                        .about-person__container
                            .about-person__name Guerry Baldwin - President of East Cobb Baseball
                            .about-person__photo-wrap
                                img.about-person__photo(
                                src='distribution/img/portraits/portrait-3.jpg'
                                )
                            .about-person__history
                                | The East Cobb Baseball (ECB) program is recognized nationally as one of the premier youth baseball operations in the country. ECB has over 70 participating teams from the ages of 8 to 18 years old.  In 2007 ECB produced 16 National Championships.  Through its brief history ECB has won 100's of National Titles, have had over a 100 players drafted by MLB and 100's earning college baseball scholarships.  ECB teams train on the SwingAway year round and is one of the few select sports product endorsed by the Park.


                    .about-person
                        .about-person__container
                            .about-person__name Coach Howie McCann
                            .about-person__photo-wrap
                                img.about-person__photo(
                                src='distribution/img/portraits/portrait-4.jpg'
                                )
                            .about-person__history
                                | Coach Howie McCann is the former head baseball coach at Marshall University and former assistant baseball coach at the University of Georgia in Athens. Coach McCann played college at Mississippi State University.  Coach McCann has developed a reputation as one of the most excellent hitting instructors as well as one of the country's best college recruiters! Howie McCann and has two sons Brad McCann (Kansas City Royals) and All-Star Catcher Brian McCann (Atlanta Braves).  Coach McCann is a big proponent of tee work, he likes the SwingAway because of the ease of use plus you do not have to pick up balls.  He really likes the hitting mat that comes with the TITAN Elite and New TITAN Pro Model because it offers the ability to place the ball in any position, high-low, inside or outside to work on hitting difficult pitches.


                    .about-person
                        .about-person__container
                            .about-person__name Mike Sansing
                            .about-person__photo-wrap
                                img.about-person__photo(
                                src='distribution/img/portraits/portrait-5.jpg'
                                )
                            .about-person__history
                                | Mike Sansing is the Head Coach for his 16th season with Kennesaw State University and is the winningest head coach in the school's history. Sansing has taken the Fighting Owls to six National Tournaments, including his guiding Kennesaw State to a pair of national titles. Among numerous accomplishments, Sansing's teams set national records with 61 wins, a .924 winning percentage, and a 30-game winning streak in 1998. Coach Sansing uses the SwingAway for indoor and outdoor practice at KSU and his son Brad trains on the SwingAway with his Nationally Ranked East Cobb Astros Baseball Team. Congratulations to Coach Sansing for being inducted into the Georgia Dugout Club Hall of Fame.


