section.manuals
    .wrap
        .container-fluid()
            .manuals__container
                h2.manuals__heading Assembly manuals

                .manuals__content(
                    class='swingaway-content-markup'
                )
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                .manuals__list-wrap
                    ul.manuals__list
                        - for (var i_man = 0; i_man < manuals.length; i_man++)
                            li.manual
                                .manual__container
                                    .manual__title
                                        a(
                                            href=manuals[i_man].link
                                        )=manuals[i_man].title

                                    .manual__image-wrap
                                        img.manual__image(
                                            src='http://placehold.it/220x260?text=Manual-' + (i_man + 1)
                                        )

                                    .manual__description=manuals[i_man].description

                                    .manual__controls
                                        a.manual__download(
                                            class='explicit-link',
                                            href=manuals[i_man].link
                                        ) Download