include ../mixin/stars

section.my-account
    .wrap
        .container-fluid
            h2.my-account__heading My account
            .my-account__container

                .my-account__content(
                    class='swingaway-content-markup'
                )
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

                .my-account-nav
                    .my-account-nav__container

                        ul.my-account-nav__list(
                            class='nav nav-tabs'
                        )

                            li.my-account-nav__item(
                                class='active'
                            )
                                a.my-account-nav__link(
                                    data-toggle='tab'
                                    href='#tab-my-profile'
                                ) My profile

                            li.my-account-nav__item
                                a.my-account-nav__link(
                                    data-toggle='tab'
                                    href='#tab-my-wishlist'
                                ) My wishlist

                            li.my-account-nav__item
                                a.my-account-nav__link(
                                    data-toggle='tab'
                                    href='#tab-my-reviews'
                                ) My reviews

                            li.my-account-nav__item
                                a.my-account-nav__link(
                                    data-toggle='tab'
                                    href='#tab-my-orders'
                                ) My orders

                            li.my-account-nav__item
                                a.my-account-nav__link(
                                    data-toggle='tab'
                                    href='#tab-my-payments'
                                ) Payment settings



                .my-account-content
                    .my-account-content__container(
                        class='tab-content'
                    )

                        #tab-my-profile.my-account-content__content(
                            class='tab-pane active'
                        )
                            include ../incl/my-account.profile.jade

                        #tab-my-wishlist.my-account-content__content(
                            class='tab-pane'
                        )
                            include ../incl/my-account.wishlist.jade

                        #tab-my-reviews.my-account-content__content(
                            class='tab-pane'
                        )
                            include ../incl/my-account.reviews.jade

                        #tab-my-orders.my-account-content__content(
                            class='tab-pane'
                        )
                            include ../incl/my-account.orders.jade

                        #tab-my-payments.my-account-content__content(
                            class='tab-pane'
                        )
                            include ../incl/my-account.payments.jade


