section.product-grid
    .wrap
        .container-fluid
            .product-grid__container
                - for (var i_grid = 0; i_grid < products.length; i_grid++)
                    .product-grid__item(
                        data-product-id=products[i_grid].id
                    )
                        .product-in-grid
                            .product-in-grid__container
                                .product-in-grid__image-wrap
                                    .product-in-grid__controls.control-pad
                                        .control-pad__controls
                                            .control-pad__item.control-pad__item--cart
                                                .control-pad__icon.control-pad__icon--cart(
                                                    class='butt-add-to-cart'
                                                )
                                            .control-pad__item.control-pad__item--wishlist
                                                .control-pad__icon.control-pad__icon--wishlist(
                                                    class='butt-add-to-wishlist'
                                                )
                                            .control-pad__item.control-pad__item--compare
                                                .control-pad__icon.control-pad__icon--compare(
                                                    class='butt-add-to-compare'
                                                )

                                    .product-in-grid__image-wrap
                                        img.product-in-grid__image(
                                            src=products[i_grid].photos[0]
                                        )

                                a.product-in-grid__title(
                                    href=rootPath + 'product.html'
                                )=products[i_grid].title

                                .product-in-grid__price= '$' + products[i_grid].price

