include ../mixin/stars

section.product
    .wrap
        .container-fluid
            .product__container

                .product-gallery
                    .product-gallery__container
                        .product-gallery__shortcuts
                            - for (var i_prodg = 0; i_prodg < products[0].photos.length; i_prodg++)
                                .product-gallery__shortcut-wrap
                                    img.product-gallery__shortcut(
                                        src=products[0].photos[i_prodg]
                                    )

                        .product-gallery__previews
                            - for (var i_prodgprev = 0; i_prodgprev < products[0].photos.length; i_prodgprev++)
                                .product-gallery__preview-wrap
                                    img.product-gallery__preview(
                                        src=products[0].photos[i_prodgprev]
                                    )


                .product-basics(
                    data-product-id='8'
                )
                    .product-basics__container
                        h1.product-title=products[0].title


                        .product-price
                            .product-price__container
                                span.product-price__currency=currencySymbol
                                span.product-price__amount 500


                        .product-reviews
                            .product-reviews__container
                                .product-reviews__stars
                                    +stars(_.random(1,5), 5)

                                .product-reviews__controls
                                    a.product-review__link(
                                        data-scroll-to='[href="#tab-reviews"]',
                                        data-click-after-scroll='[href="#tab-reviews"]',
                                        href='product.html' + '#tab-reviews'
                                    )
                                        span.product-review__link-qu 4
                                        span.product-review__link-text reviews


                        .product-optoins
                            .product-options__container
                                h4.product-options__heading Product options

                                .product-options__group
                                    label.product-options__label(
                                        for='product-select-color'
                                    ) Product color:
                                    select.product-options__select(
                                        class='form-control',
                                        id='product-select-color',
                                        name='product-select-color'
                                    )
                                        option.product-options__option(
                                            value='red'
                                        ) Red
                                        option.product-options__option(
                                            value='green'
                                        ) Green
                                        option.product-options__option(
                                            value='blue'
                                        ) Blue

                                .product-options__group
                                    label.product-options__label(
                                        for='product-select-size'
                                    ) Product size:
                                    select.product-options__select(
                                        class='form-control',
                                        id='product-select-size',
                                        name='product-select-size'
                                    )
                                        option.product-options__option(
                                            value='lg'
                                        ) Large
                                        option.product-options__option(
                                            value='md'
                                        ) Medium
                                        option.product-options__option(
                                            value='sm'
                                        ) Small


                        .product-controls
                            .product-controls__container
                                button.product-controls__butt.product-controls__butt--cart(
                                    class='butt-add-to-cart btn btn-swingaway'
                                ) Add to cart
                                button.product-controls__butt.product-controls__butt--compare(
                                    class='butt-add-to-compare btn btn-default'
                                ) Compare
                                button.product-controls__butt.product-controls__butt--wishlist(
                                    class='butt-add-to-wishlist btn btn-default'
                                ) Add to Wishlist



        .container-fluid
            .product-details
                ul.product-details__list(
                    class='nav nav-tabs'
                )
                    li.product-details__item(
                        class='active'
                    )
                        a.product-details__link(
                            data-toggle='tab',
                            href='#tab-description'
                        ) Description

                    li.product-details__item()
                        a.product-details__link(
                            data-toggle='tab',
                            href='#tab-characteristics'
                        ) Characteristics

                    li.product-details__item()
                        a.product-details__link(
                            data-toggle='tab',
                            href='#tab-reviews'
                        ) Reviews

                    //li.product-details__item()
                        a.product-details__link(
                            data-toggle='tab',
                            href='#tab-qna'
                        ) Q&A

                .product-details__container(
                    class='tab-content'
                )
                    #tab-description.product-details__box.product-details__box--description(
                        class='tab-pane active swingaway-content-markup'
                    )
                        include ../incl/product.description.jade

                    #tab-characteristics.product-details__box.product-details__box--characteristics(
                        class='tab-pane'
                    )
                        include ../incl/product.characteristics.jade

                    #tab-reviews.product-details__box.product-details__box--reviews(
                        class='tab-pane'
                    )
                        .product-details__controls
                            button.product-detail__butt(
                                class='btn btn-default',
                                data-toggle='modal',
                                data-target='#review-modal'
                            ) Write a review

                        include ../incl/product.reviews.jade

                    //#tab-qna.product-details__box.product-details__box--qna(
                    //    class='tab-pane'
                    //)
                    //    include ./jade/incl/product.qna.jade



