section.sorter
    .wrap
        .container-fluid()
            .sorter__container(
                class='pull-right children-inline'
            )
                span.sorter__title()
                    | Sort By:

                ul.sorter__list(
                    class='list-inline'
                )
                    li.sorter__item
                        a.sorter__control.sorter__control--active.sorter__control--desc(
                            class='btn btn-default',
                            href=rootPath +'?sort-by=price&sort-order=asc'
                        ) Price
                            span.sorter__indicator

                    li.sorter__item
                        a.sorter__control.sorter__control--active.sorter__control--asc(
                            class='btn btn-default',
                            href=rootPath + '?sort-by=rating&sort-order=desc'
                        ) Rating
                            span.sorter__indicator